{% extends "base.html" %}

{% block content %}
{% macro render_field(field, placeholder=None) %}
{% if field.errors %}
<div>
  {% elif field.flags.error %}
  <div>
    {% else %}
    <div>
      {% endif %}
      {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
      {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
    </div>
    {% endmacro %}

    <div class="column is-4 is-offset-4">
      <h3 class="title">Sign In</h3>
      <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
          {{ messages[0] }}. Go to <a href="{{ url_for('auth.signup') }}">signup page</a>.
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="." accept-charset="UTF-8" role="form">
          {{ form.csrf_token }}
          {{form.hidden_tag()}}
          <div class="field">
            <div class="control">
              {{ render_field(form.email, placeholder="Your Email Address", autofocus="", class='input') }}
            </div>
          </div>
          <div class="field">
            <div class="control">
              {{ render_field(form.password, placeholder="Password", class='input ') }}
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label>
                <input type="checkbox" name="remember" value="1"> Remember Me
              </label>
              <a role="button" href="">Forgot your password?</a><span class="clearfix"></span>
            </div>
          </div>
          <button type="submit" name="submit" class="button is-block is-info is-fullwidth">Sign in</button>
        </form>
      </div>
    </div>
    {% endblock %}