# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.env
.venv
*.DS_store
/flask_session/
/data/
/jupyter_files/
# .vscode/

app.db
/drive/

#react ignores

# dependencies
/app/client/node_modules
/app/client/*.pnp
.pnp.js

# testing
/app/client/coverage

# production
/app/client/build

# misc
/app/client/.DS_Store
/app/client/.env.local
/app/client/.env.development.local
/app/client/.env.test.local
/app/client/.env.production.local

/app/client/npm-debug.log*
/app/client/yarn-debug.log*
/app/client/yarn-error.log*
app.log
/migrations
app-scheme*
output*